body{ 
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #33CCFF;
    background-color: rgb(241, 240, 240);
   }
   .box{
      width: 380px;
      padding: 20px;
      position: absolute;
      top: 45%;
      left: 43%;
      transform: translate(-20%,-20%);
      background:#363636;
      text-align: center;
      border-radius: 20px;
   }
   .box h2{
       color: white;
       text-transform: uppercase;
       font-weight: 500;
   }
  
   .box label{
    color: white;
   }
  
   .box hr{
    color: white;
   }
   
   
   .box input[type = "text"],.box input[type = "email"],.box input[type = "password"]{
       border: 0;
       background: none;
       display: block;
       margin: 20px auto;
       text-align: center;
       border: 2px solid #33CCFF;
       padding: 14px 10px;
       width: 200px;
       outline: none;
       color: white;
       border-radius: 24px;
       transition: 0.25s;
   }
   
   .box input[type = "text"]:focus,.box input[type = "email"]:focus,.box input[type = "password"]:focus{
       width: 250px;
       border-color: #2ecc71;
       
   }
   .box input[type= "submit"]{
       border: 0;
       background: none;
       display: block;
       margin: 20px auto;
       text-align: center;
       border: 2px solid #2ecc71;
       padding: 14px 40px;
       outline: none;
       color: white;
       border-radius: 24px;
       transition: 0.25s;
       cursor: pointer;
   }
   .box input[type= "submit"]:hover{
       background:#2ecc71;
   }
  
   .basic-color
  {
    color: #33CCFF;
  }
  
  .wrapper
  {
    margin-left: 10% ;
    margin-right: 10%;
    width: 80%;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 0 10px grey;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  
  .card-fichier
  {
    width: 300px;
    height: 260px;
    margin: 15px;
    box-shadow: 1px 3px 10px  gray;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-sizing: border-box;
  
  }
  
  .card-fichier-text
  {
    padding: 1px;
    margin: 0;
    margin-left: 10px;
  
  }
  
  .fichier-img
  {
    width: 60%;
    margin-left: 20%;
    margin-right: 20% ;
  }

  #alert
  {
    z-index: 2;
  }